header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #fff;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
  }
  .headerLeft img {
    width: 15%;
    padding: 10px;
  }
  .headerLeft {
    display: flex;
    align-items: center;
  }
  .headerRight {
    list-style: none;
    align-items: center;
    text-align: center;
  }
  .headerLeft .text {
    font-family: 'Cardo';
    text-transform: uppercase;
    margin-bottom: 50px;
    text-decoration: none;
  }
  .headerLeft .text h3 {
    color: lightblue;
    font-weight: 800;
  }
  .headerLeft .text h3:hover {
    color: #333;
  }